<div class="hero-unit">
  <h1>Client Manager</h1>
  <p>This is a sample application built with Backbone, RequireJS, Twitter Bootstrap (frontend) and Node.js, Express.js, Mongoose (backend).</p>
  <p><a class="btn btn-primary btn-large" href="//github.com/alessioalex/ClientManager">Fork me &raquo;</a></p>
<div class="row">
  <div id="login">
    <h2>Log in</h2>
    <form>
      <input type="email" placeholder="Email" id="inputUsername" />
      <input type="password" placeholder="Password" id="inputPassword"/>
      <input type="submit" value="Log in" class="btn login-btn"/>
    </form>
      <p> <font size="2">Forgot your password?  <font></font><a>Click here&raquo;</a></p>
      <p> <font size="2">New to Client Manager? <font></font><a>Sign up now&raquo;</a></p>
  </div>
</div>
</div>